#voltage-editor-btns {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn i {
  margin-right: 5px;
}

#login-buttons {
  position: relative;
  display: block;
  padding: 13px 0;
}
